body {
    text-align: center;
    font-family: helvetica;
}

.unjustified,
ol {
    text-align: left;
}

.left,
.right {
    display: inline-block;
}

h1 strong,
h2 strong {
    color: #f6a1b8;
    font-weight: 900;
}

h1,
h2 {
    color: #4f5e94;
    font-weight: 300;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

a,
a:visited {
    color: #4f5e94;
    font-weight: 900;
}

main {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    color: #f6a1b8;
}

button {
    padding: 12px 24px;
    border: 1px solid #f6a1b8;
    border-radius: 8px;
    background: #4f5e94;
    font-size: 2em;
    color: white;
}

button:disabled {
    opacity: 20%;
}

button:hover {
    background: #f6a1b8;
    color: #4f5e94;
}

a.button {
    padding: 12px 24px;
    border: 1px solid #f6a1b8;
    border-radius: 8px;
    background: #4f5e94;
    font-size: 2em;
    color: white;
}

a.button.disabled {
    opacity: 20%;
    cursor: not-allowed;
}

a.button:hover {
    background: #f6a1b8;
    color: #4f5e94;
}

img {
    max-width: 100%;
}

.video {
    height: auto;
    position: relative;
    display: inline-block;
}

.video .hovered-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.video:hover .hovered-img {
    display: inline;
}

small {
    font-size: 0.75rem;
    line-height: 4rem;
}

.pink {
    font-weight: 900;
    color: #f6a1b8;
}

.blue {
    color: #4f5e94;
}

/*@@ list of disc interviews @@*/

.discs {
    max-width: 640px;
    margin: 0 auto;
}

.card img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    padding: 0;
    box-shadow: none;
    margin-top: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

.cards_item a {
    text-decoration: none;
    background-color: #4f5e94;
}

.cards_item a:hover {
    opacity: 75%;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: #4f5e94;
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.card_content time {
    color: #ffffff;
    font-size: 0.7rem;
}

.pagination {
    text-align: center;
}